<style>
  .footer {
    background: #000;
    color: #fff;
    padding: 65px 0 90px;
  }

  .footer__container {
    max-width: 1160px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__container>div:first-child {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer__container>div:first-child>a {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__contact {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .footer__contact a {
    display: flex;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 0px 2px #FFF inset;
    display: flex;
    height: 59px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }

  .footer__social {
    display: flex;
    gap: 24px;
  }

  .footer__copyright {
    color: #484848;
    font-size: 14px;
    font-style: normal;
    line-height: 100%;
    margin: 0;
  }

  .footer__container>div:nth-child(2) h3 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }

  .footer__container>div:nth-child(2) span {
    display: flex;
    width: 250px;
    height: 55px;
    padding: 17px 20px 18px 20px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 0px 2px #FFF inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #CCD;
    font-family: Roboto;
    font-size: 19.531px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .footer__container>div:nth-child(2)>div {
    display: flex;
    gap: 24px;
  }

  .footer__container>div:nth-child(2) button {
    display: flex;
    height: 55.5px;
    padding: 0px 29.8px 0px 30px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 28px;
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 0px 2px #FFF inset;
    display: flex;
    height: 59px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
</style>
<footer class="footer">
  <div class="footer__container">
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/Img_-_Magic_Spoon.svg?v=1716354992" />
      <a>Terms of Use • Privacy Policy • Accessibility Policy • FAQ • Become an Affiliate • Reviews • Jobs • Track
        Orders • Store Locator • Terms of Service • Refund policy</a>
      <div class="footer__contact">
        <a>contact us</a>
        <div class="footer__social">
          <img
            src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/Link_-_Magic_Spoon_instagram_SVG.svg?v=1716356087" />
          <img
            src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/Link_-_Magic_Spoon_facebook_SVG.svg?v=1716356087" />
          <img
            src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/Link_-_Magic_Spoon_twitter_SVG.svg?v=1716356087" />
        </div>
      </div>
      <p class="footer__copyright">© 2024 Magic Spoon</p>
    </div>
    <div>
      <h3>Don't miss the magic:</h3>
      <div>
        <span>Your email</span>
        <button>subscribe</button>
      </div>
    </div>
  </div>
</footer>