<style>
  .happinessCta {
    padding: 70px 10px;
    background: linear-gradient(83deg, #E30BA6 0%, #5B00ED 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  .happinessCta h2 {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    line-height: 63px;
    margin: 0;
  }

  .happinessCta p {
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  .happinessCta a {
    display: flex;
    width: 163.89px;
    height: 55px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #3F0791;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;
  }
</style>
<section class="happinessCta">
  <div>
    <h2>Happiness 100% Guaranteed</h2>
    <p>SEE TERMS OF USE.</p>
  </div>
  <a href="/collections/cereal">try now</a>
</section>