<style>
  .instagram {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .instagram img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
</style>
<section class="instagram">
  <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/cbb39a63db146c2590410f744f3691ab.jpg?v=1716279568" />
  <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/d8f0b7b93e5a1b5a5dd21e98ffb86913.jpg?v=1716279569" />
  <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/b62a1bc4150c414461af855b1c53ccc6.jpg?v=1716279569" />
  <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/e65948470574795dfb32aa06a44cb2ee.jpg?v=1716279568" />
</section>