<style>
  .newFlavors {
    position: relative;
  }

  .newFlavors a {
    text-decoration: none;
  }

  .newFlavors h2 {
    color: #3F0791;
    font-size: 3.3vw;
    font-style: normal;
    font-weight: 900;
    margin: 0 0 8px;
  }

  .newFlavors p {
    font-size: 1.1vw;
    margin: 0 3.5vw;
    color: #3F0791;
    line-height: 1.5vw;
  }

  .newFlavors img {
    width: 100%;
    display: block;
  }

  .newFlavors>div>div {
    position: absolute;
    max-width: 40vw;
    top: 23%;
    left: 6.3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newFlavors a {
    position: absolute;
    font-size: 1.5vw;
    line-height: 1.5vw;
    top: 25.5vw;
    padding: .98vw 2.9vw .78vw;
    border-radius: 100px;
    background: #3F0791;
    font-size: 28px;
    font-weight: 900;
    color: #FFF;
  }
</style>
<section class="newFlavors">
  <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/new_flavors_background.png?v=1715837213" />
  <div>
    <div>
      <h2>Crispy. Puffy. Crunchy.</h2>
      <p>Need Magic Spoon on-the-go? We turned our delicious, high-protein cereal into a high-protein Treat! Tastes just
        like those classic, crispy cereal bars with <b>11-12g protein</b>, <b>1g added sugars</b>,
        and <b>none of the artificial ingredients</b>.</p>
      <a href="/collections/treats">TRY NEW FLAVORS</a>
    </div>
  </div>
</section>