<style>
  .nutritionalInfo {
    display: grid;
    grid-template-columns: 600px 1fr;
    background: #5B00ED;
  }

  .nutritionalInfo img {
    width: 100%;
  }

  .nutritionalInfo>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    text-align: center;
    padding: 0 180px;
  }

  .nutritionalInfo h2 {
    color: #BFEFFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 14px;
  }

  .nutritionalInfo p {
    color: #BFEFFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px;
    margin: 0;
  }
</style>

<section class="nutritionalInfo">
  <div>
    <div>
      <h2>High<br />Protein</h2>
      <p>12g-14g complete protein in every bowl.</p>
    </div>
    <div>
      <h2>Keto-<br />Friendly</h2>
      <p>4g-5g net carbs per bowl.</p>
    </div>
    <div>
      <h2>Sweet &<br />Delicious</h2>
      <p>Tastes just like you remember, only better.</p>
    </div>
  </div>
  <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/c2ecfdfb35dc81062af59565cb1cba14.jpg?v=1715924303" />
</section>