<style>
  .reviews {
    background: linear-gradient(180deg, #5B01ED 0%, #5B01ED 65%, #C8EEFD 100%);
  }

  .reviews__container {
    max-width: 1700px;
    padding: 12px;
    margin: 0 auto;
  }

  .reviews__cards {
    display: flex;
    gap: 12px;
    text-align: center;
    margin-bottom: 75px;
  }

  .reviews__cardItem {
    background: #fff;
    padding: 90px 60px;
    width: calc(33.33% - 10px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__cardItem h2 {
    color: #3F0791;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
  }

  .reviews__cardItem h3 {
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3F0791;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1.12px;
    text-transform: uppercase;
  }

  .reviews__cardItem p {
    color: #3F0791;
    font: 16px / 1.4em;
  }

  .reviews img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    transform: translate(-0, 50%);
  }

  .reviews__container2 {
    margin: 215px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
  }

  .reviews__container2 h2 {
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    margin: 0;
  }

  .reviews__container2 a {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    line-height: 59px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 2px #FFF inset;
    padding: 0 32px;
    box-sizing: border-box;
    display: inline-block;
  }
</style>

<section class="reviews">
  <div class="reviews__container">
    <div class="reviews__cards">
      <div class="reviews__cardItem">
        <h2>"I just ate delicious cereal for dinner and the last time I did that was my sophomore year in college!"</h2>
        <h3>KELLY LEVEQUE</h3>
        <p>Holistic Nutritionist, Wellness Expert, and Celebrity Health Coach</p>
        <img
          src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/eff776baec54c2c08d490c5bdd698870.png?v=1716276031" />
      </div>
      <div class="reviews__cardItem">
        <h2>"When they said 'Breakfast of Champions', they meant Magic Spoon."</h2>
        <h3>PRISCILLA FREDERICK-LOOMIS</h3>
        <p>Olympian, Entrepreneur, Radio Personality, Podcast Host & Public Speaker</p>
        <img
          src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/3139bb3dd842757af39e52e7ab11bd9e.png?v=1716276032" />
      </div>
      <div class="reviews__cardItem">
        <h2>"Magic Spoon is my adult life and kid life smashed into one fantastic box of cereal."</h2>
        <h3>NATALIE DURAN</h3>
        <p>Rock Climber, Ninja Warrior, Neuroscientist, Producer</p>
        <img
          src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/380b1ce18dce40c53ba999103f5969e7.png?v=1716276031" />
      </div>
    </div>
    <div class="reviews__container2">
      <h2>Why did we grow<br />up, but our cereal<br />didn't?</h2>
      <a>our story</a>
    </div>
  </div>
</section>