<style>
  .testimonials {
    background: #BFEFFF;
    padding: 150px 0;
  }

  .testimonials__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 56.69px;
    gap: 113.32px;
  }

  .testimonials p {
    margin: 0;
    color: #3F0791;
    text-align: center;
    font-size: 21.828px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px;
  }

  .testimonials__container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
</style>
<section class="testimonials">
  <div class="testimonials__container">
    <div>
      <p>"There's a new magician in
        the kitchen."</p>
      <img class="testimonials__wiggle" src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/hr-wiggleline_svg.svg?v=1715918243" />
      <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/bad1d7e1a421b5d1cc9639e4ba6dd088.png?v=1715919423"
        height="20" />
    </div>
    <div>
      <p>"With cereal that tastes
        this good and offers so
        much ... Magic Spoon may
        be the future of
        breakfast."</p>
      <img class="testimonials__wiggle" src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/hr-wiggleline_svg.svg?v=1715918243" />
      <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/aa7183c39a594031fd2ac9c3c82435b9.png?v=1715919423"
        height="20" />
    </div>
    <div>
      <p>
        "Magic Spoon has become
        my new go-to for one
        simple reason: it's
        delicious."
      </p>
      <img class="testimonials__wiggle"
        src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/hr-wiggleline_svg.svg?v=1715918243" />
      <img src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/1f994e2204d19b336ce3c5026773e335.png?v=1715919423"
        height="20" />
    </div>
  </div>
</section>