<style>
  .tryNow {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('https://cdn.shopify.com/s/files/1/0689/6717/0276/files/ms-module-bg.svg?v=1715931618');
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  .tryNow h2 {
    color: #FFF;
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 90px;
  }

  .tryNow a {
    display: inline-flex;
    height: 55.5px;
    padding: 0px 29.8px 0px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background: #3F0791;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .tryNow__star_1 {
    position: absolute;
    top: 8%;
    left: 5%;
  }

  .tryNow__star_2 {
    position: absolute;
    top: 5%;
    left: 10%;
  }

  .tryNow__star_3 {
    position: absolute;
    top: 18%;
    left: 53%;
  }

  .tryNow__star_4 {
    position: absolute;
    top: 6%;
    left: 60%;
  }

  .tryNow__star_5 {
    position: absolute;
    top: 17%;
    left: 85%;
  }

  .tryNow__star_6 {
    position: absolute;
    top: 5%;
    left: 93%;
  }

  .tryNow__cerealBox_1 {
    position: absolute;
    bottom: 13%;
    left: -4%;
    max-width: 610px;
    z-index: 1;
  }

  .tryNow__cerealBox_2 {
    position: absolute;
    bottom: 13%;
    right: -4%;
    max-width: 610px;
    z-index: 1;
  }

  .tryNow__sphere {
    position: absolute;
    bottom: 65%;
    left: 60%;
  }

  .tryNow__mountain_1 {
    position: absolute;
    left: 0;
    bottom: 24%;
    z-index: 0;
  }

  .tryNow__mountain_2 {
    position: absolute;
    max-width: 345px;
    bottom: 250px;
    right: 0;
  }

  .tryNow__mountain_3 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 624px;
    z-index: 1;
  }

  .tryNow__mountain_4 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 624px;
    z-index: 1;
  }

  .tryNow__sphere_2 {
    position: absolute;
    bottom: 16%;
    left: 14%;
    z-index: 1;
    width: 14%;
  }

  .tryNow__tree {
    position: absolute;
    left: -3%;
    max-width: 340px;
    width: 20%;
    bottom: -3%;
    z-index: 1;
  }
</style>

<section class="tryNow">
  <div class="tryNow__center">
    <h2>A whole<br />world of<br />flavor.</h2>
    <a href="/collections/cereal">try now</a>
  </div>
  <svg class="tryNow__star_1 floating1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
    <g clip-path="url(#clip0_4_127)">
      <path
        d="M19.9005 2.86914C18.95 4.22899 17.7407 5.38805 16.3418 6.28001C14.9428 7.17196 13.3818 7.7793 11.7478 8.06726C10.1139 8.35522 8.43927 8.31814 6.8197 7.95817C5.20014 7.59819 3.66745 6.92237 2.30936 5.96938"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M23.0106 20.4603C21.6511 19.5097 20.4921 18.3006 19.5999 16.9019C18.7078 15.5033 18.0999 13.9426 17.8111 12.309C17.5223 10.6755 17.5582 9.00096 17.9167 7.38123C18.2752 5.7615 18.9493 4.22827 19.9005 2.86914"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M2.30936 5.97949C5.053 7.90097 6.92168 10.833 7.50484 14.1314C8.08801 17.4298 7.33797 20.8249 5.4195 23.5706"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M5.41951 23.5706C6.37008 22.211 7.57922 21.0521 8.97783 20.1599C10.3764 19.2678 11.9371 18.6599 13.5707 18.3711C15.2043 18.0823 16.8788 18.1181 18.4985 18.4766C20.1183 18.8351 21.6515 19.5093 23.0106 20.4605"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
    </g>
    <defs>
      <clipPath id="clip0_4_127">
        <rect width="25" height="25" fill="white" transform="translate(0.159996 0.719727)" />
      </clipPath>
    </defs>
  </svg>
  <svg class="tryNow__star_2 floating2" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
    <g clip-path="url(#clip0_4_127)">
      <path
        d="M19.9005 2.86914C18.95 4.22899 17.7407 5.38805 16.3418 6.28001C14.9428 7.17196 13.3818 7.7793 11.7478 8.06726C10.1139 8.35522 8.43927 8.31814 6.8197 7.95817C5.20014 7.59819 3.66745 6.92237 2.30936 5.96938"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M23.0106 20.4603C21.6511 19.5097 20.4921 18.3006 19.5999 16.9019C18.7078 15.5033 18.0999 13.9426 17.8111 12.309C17.5223 10.6755 17.5582 9.00096 17.9167 7.38123C18.2752 5.7615 18.9493 4.22827 19.9005 2.86914"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M2.30936 5.97949C5.053 7.90097 6.92168 10.833 7.50484 14.1314C8.08801 17.4298 7.33797 20.8249 5.4195 23.5706"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M5.41951 23.5706C6.37008 22.211 7.57922 21.0521 8.97783 20.1599C10.3764 19.2678 11.9371 18.6599 13.5707 18.3711C15.2043 18.0823 16.8788 18.1181 18.4985 18.4766C20.1183 18.8351 21.6515 19.5093 23.0106 20.4605"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
    </g>
    <defs>
      <clipPath id="clip0_4_127">
        <rect width="25" height="25" fill="white" transform="translate(0.159996 0.719727)" />
      </clipPath>
    </defs>
  </svg>
  <svg class="tryNow__star_3 floating3" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
    <g clip-path="url(#clip0_4_127)">
      <path
        d="M19.9005 2.86914C18.95 4.22899 17.7407 5.38805 16.3418 6.28001C14.9428 7.17196 13.3818 7.7793 11.7478 8.06726C10.1139 8.35522 8.43927 8.31814 6.8197 7.95817C5.20014 7.59819 3.66745 6.92237 2.30936 5.96938"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M23.0106 20.4603C21.6511 19.5097 20.4921 18.3006 19.5999 16.9019C18.7078 15.5033 18.0999 13.9426 17.8111 12.309C17.5223 10.6755 17.5582 9.00096 17.9167 7.38123C18.2752 5.7615 18.9493 4.22827 19.9005 2.86914"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M2.30936 5.97949C5.053 7.90097 6.92168 10.833 7.50484 14.1314C8.08801 17.4298 7.33797 20.8249 5.4195 23.5706"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M5.41951 23.5706C6.37008 22.211 7.57922 21.0521 8.97783 20.1599C10.3764 19.2678 11.9371 18.6599 13.5707 18.3711C15.2043 18.0823 16.8788 18.1181 18.4985 18.4766C20.1183 18.8351 21.6515 19.5093 23.0106 20.4605"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
    </g>
    <defs>
      <clipPath id="clip0_4_127">
        <rect width="25" height="25" fill="white" transform="translate(0.159996 0.719727)" />
      </clipPath>
    </defs>
  </svg>
  <svg class="tryNow__star_4 floating4" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
    <g clip-path="url(#clip0_4_127)">
      <path
        d="M19.9005 2.86914C18.95 4.22899 17.7407 5.38805 16.3418 6.28001C14.9428 7.17196 13.3818 7.7793 11.7478 8.06726C10.1139 8.35522 8.43927 8.31814 6.8197 7.95817C5.20014 7.59819 3.66745 6.92237 2.30936 5.96938"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M23.0106 20.4603C21.6511 19.5097 20.4921 18.3006 19.5999 16.9019C18.7078 15.5033 18.0999 13.9426 17.8111 12.309C17.5223 10.6755 17.5582 9.00096 17.9167 7.38123C18.2752 5.7615 18.9493 4.22827 19.9005 2.86914"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M2.30936 5.97949C5.053 7.90097 6.92168 10.833 7.50484 14.1314C8.08801 17.4298 7.33797 20.8249 5.4195 23.5706"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M5.41951 23.5706C6.37008 22.211 7.57922 21.0521 8.97783 20.1599C10.3764 19.2678 11.9371 18.6599 13.5707 18.3711C15.2043 18.0823 16.8788 18.1181 18.4985 18.4766C20.1183 18.8351 21.6515 19.5093 23.0106 20.4605"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
    </g>
    <defs>
      <clipPath id="clip0_4_127">
        <rect width="25" height="25" fill="white" transform="translate(0.159996 0.719727)" />
      </clipPath>
    </defs>
  </svg>
  <svg class="tryNow__star_5 floating5" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
    <g clip-path="url(#clip0_4_127)">
      <path
        d="M19.9005 2.86914C18.95 4.22899 17.7407 5.38805 16.3418 6.28001C14.9428 7.17196 13.3818 7.7793 11.7478 8.06726C10.1139 8.35522 8.43927 8.31814 6.8197 7.95817C5.20014 7.59819 3.66745 6.92237 2.30936 5.96938"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M23.0106 20.4603C21.6511 19.5097 20.4921 18.3006 19.5999 16.9019C18.7078 15.5033 18.0999 13.9426 17.8111 12.309C17.5223 10.6755 17.5582 9.00096 17.9167 7.38123C18.2752 5.7615 18.9493 4.22827 19.9005 2.86914"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M2.30936 5.97949C5.053 7.90097 6.92168 10.833 7.50484 14.1314C8.08801 17.4298 7.33797 20.8249 5.4195 23.5706"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M5.41951 23.5706C6.37008 22.211 7.57922 21.0521 8.97783 20.1599C10.3764 19.2678 11.9371 18.6599 13.5707 18.3711C15.2043 18.0823 16.8788 18.1181 18.4985 18.4766C20.1183 18.8351 21.6515 19.5093 23.0106 20.4605"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
    </g>
    <defs>
      <clipPath id="clip0_4_127">
        <rect width="25" height="25" fill="white" transform="translate(0.159996 0.719727)" />
      </clipPath>
    </defs>
  </svg>
  <svg class="tryNow__star_6 floating6" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
    <g clip-path="url(#clip0_4_127)">
      <path
        d="M19.9005 2.86914C18.95 4.22899 17.7407 5.38805 16.3418 6.28001C14.9428 7.17196 13.3818 7.7793 11.7478 8.06726C10.1139 8.35522 8.43927 8.31814 6.8197 7.95817C5.20014 7.59819 3.66745 6.92237 2.30936 5.96938"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M23.0106 20.4603C21.6511 19.5097 20.4921 18.3006 19.5999 16.9019C18.7078 15.5033 18.0999 13.9426 17.8111 12.309C17.5223 10.6755 17.5582 9.00096 17.9167 7.38123C18.2752 5.7615 18.9493 4.22827 19.9005 2.86914"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M2.30936 5.97949C5.053 7.90097 6.92168 10.833 7.50484 14.1314C8.08801 17.4298 7.33797 20.8249 5.4195 23.5706"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
      <path
        d="M5.41951 23.5706C6.37008 22.211 7.57922 21.0521 8.97783 20.1599C10.3764 19.2678 11.9371 18.6599 13.5707 18.3711C15.2043 18.0823 16.8788 18.1181 18.4985 18.4766C20.1183 18.8351 21.6515 19.5093 23.0106 20.4605"
        stroke="white" stroke-width="4.28883" stroke-linecap="round" stroke-linejoin="round" />
    </g>
    <defs>
      <clipPath id="clip0_4_127">
        <rect width="25" height="25" fill="white" transform="translate(0.159996 0.719727)" />
      </clipPath>
    </defs>
  </svg>
  <img class="tryNow__cerealBox_1"
    src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/c5d355643373f4a279d77f5b21036eb8.png?v=1715930777" />
  <img class="tryNow__cerealBox_2"
    src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/3882d14624e3270dc3449d086e230fcf.png?v=1715931236" />
  <svg class="tryNow__sphere floating3" xmlns="http://www.w3.org/2000/svg" width="266" height="266" viewBox="0 0 266 266" fill="none">
    <path
      d="M265.95 133.22C265.95 60.042 206.628 0.719727 133.45 0.719727C60.2722 0.719727 0.949951 60.042 0.949951 133.22C0.949951 206.397 60.2722 265.72 133.45 265.72C206.628 265.72 265.95 206.397 265.95 133.22Z"
      fill="url(#paint0_linear_4_184)" />
    <defs>
      <linearGradient id="paint0_linear_4_184" x1="257.817" y1="135.922" x2="-15.1408" y2="129.99"
        gradientUnits="userSpaceOnUse">
        <stop stop-color="white" />
        <stop offset="1" stop-color="#6600F4" />
      </linearGradient>
    </defs>
  </svg>
  <svg class="tryNow__mountain_1" xmlns="http://www.w3.org/2000/svg" width="500" height="485" viewBox="0 0 500 485" fill="none">
  <path d="M428.025 387.56C382.118 367.137 353.037 336.751 340.294 297.378C327.878 259.15 303.045 227.129 258.609 205.4C227.405 190.206 202.899 167.988 186.071 142.665C167.283 114.729 164.67 82.5448 138.857 57.2222C106.673 25.6916 56.0284 1.34916 2.76828 0.859042C-51.1441 0.368928 -105.71 27.652 -138.058 59.3461C-164.197 84.6686 -166.811 116.689 -185.435 144.789C-202.263 169.949 -226.768 192.167 -257.972 207.525C-302.41 229.252 -327.242 261.273 -339.657 299.502C-352.401 338.874 -381.481 369.262 -427.388 389.683C-504.01 423.665 -499.108 484.438 -499.108 484.438L499.582 482.315C499.745 482.315 504.646 421.704 428.025 387.56Z" fill="url(#paint0_linear_4_188)"/>
  <defs>
    <linearGradient id="paint0_linear_4_188" x1="0.32197" y1="9.0634" x2="0.32197" y2="307.167" gradientUnits="userSpaceOnUse">
      <stop stop-color="#7CA1D4"/>
      <stop offset="1" stop-color="#3F0791"/>
    </linearGradient>
  </defs>
</svg>
<svg class="tryNow__mountain_2" xmlns="http://www.w3.org/2000/svg" width="335" height="484" viewBox="0 0 335 484" fill="none">
  <path d="M275.959 51.449C256.173 77.2904 254.126 109.87 239.883 138.355C227.006 164.026 208.413 186.541 184.533 202.063C150.59 224.152 131.656 256.731 122.19 295.621C112.467 335.62 90.2932 366.493 55.3263 387.302C-3.17943 422.013 0.573167 483.761 0.573167 483.761H344.358L344.614 464.059V0.277832C318.346 11.706 293.699 28.3367 275.959 51.449Z" fill="url(#paint0_linear_4_197)"/>
  <defs>
    <linearGradient id="paint0_linear_4_197" x1="172.53" y1="-17.6812" x2="172.53" y2="265.799" gradientUnits="userSpaceOnUse">
      <stop stop-color="#7CA1D4"/>
      <stop offset="1" stop-color="#3F0791"/>
    </linearGradient>
  </defs>
</svg>
<svg class="tryNow__mountain_3" xmlns="http://www.w3.org/2000/svg" width="324" height="622" viewBox="0 0 324 622" fill="none">
  <path d="M622.774 0.615693C622.774 0.615693 547.311 -9.64947 500.147 100.493C471.987 166.384 432.313 207.306 382.513 223.952C334.1 240.182 292.624 274.723 262.938 338.534C242.13 383.479 212.861 418.019 180.539 441.325C144.472 467.265 104.383 469.484 71.0903 506.106C39.8787 540.647 16.8515 590.169 0.62146 642.605L596.278 666.326L622.774 0.615693Z" fill="url(#paint0_linear_4_202)"/>
  <defs>
    <linearGradient id="paint0_linear_4_202" x1="13.828" y1="309.766" x2="609.435" y2="333.524" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F7EF79"/>
      <stop offset="0.436" stop-color="#D3F2B5"/>
      <stop offset="1" stop-color="#A6F6FF"/>
    </linearGradient>
  </defs>
</svg>
<svg class="tryNow__mountain_4" xmlns="http://www.w3.org/2000/svg" width="275" height="556" viewBox="0 0 275 556" fill="none">
  <path d="M624.009 0.957787C624.009 0.957787 544.684 -5.90822 500.128 100.881C473.394 164.72 433.805 205.186 382.383 223.009C332.421 240.246 290.641 274.869 262.3 336.809C242.433 380.343 213.361 414.381 180.492 437.902C143.97 463.905 102.044 467.556 68.8823 503.786C37.6199 537.824 15.707 586.033 0.952271 636.578H623.863V0.957787H624.009Z" fill="url(#paint0_linear_4_206)"/>
  <defs>
    <linearGradient id="paint0_linear_4_206" x1="312.567" y1="551.535" x2="312.567" y2="292.362" gradientUnits="userSpaceOnUse">
      <stop stop-color="#7CA1D4"/>
      <stop offset="1" stop-color="#3F0791"/>
    </linearGradient>
  </defs>
</svg>
<svg class="tryNow__sphere_2" xmlns="http://www.w3.org/2000/svg" width="269" height="135" viewBox="0 0 269 135" fill="none">
  <path d="M0.931671 134.556H268.494C268.494 60.6749 208.708 0.887851 134.827 0.887851C60.7186 0.660525 0.931671 60.6749 0.931671 134.556Z" fill="url(#paint0_linear_4_193)"/>
  <defs>
    <linearGradient id="paint0_linear_4_193" x1="134.597" y1="-11.0627" x2="134.597" y2="125.688" gradientUnits="userSpaceOnUse">
      <stop stop-color="#7CA1D4"/>
      <stop offset="1" stop-color="#5B00ED"/>
    </linearGradient>
  </defs>
</svg>
<img class="tryNow__tree" src="https://cdn.shopify.com/s/files/1/0689/6717/0276/files/ms-small-palm_2x_1b89ae7f-5096-4583-a724-6430ee92328c.svg?v=1716259443" />
</section>